VITE_TOKEN_CONTRACT=CD3XCFUQPRNGAN7E2R6Q4DQ4YH3VN4J5SRSU7TNVKP5EFS5DU52B7OVJ
VITE_ESCROW_CONTRACT=CCZ7RV4YSGZ6JCXYGFVYY5G5BIBMI5YLRKKK4WKHYPLODK7CMKBQYO2N
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2025
